<script src="/static/Admin_Assets/js/jquery.min.js"></script>
<script src="/static/Admin_Assets/js/bootstrap-rtl.min.js"></script>
<script src="/static/Admin_Assets/js/detect.js"></script>
<script src="/static/Admin_Assets/js/fastclick.js"></script>

<script src="/static/Admin_Assets/js/jquery.slimscroll.js"></script>
<script src="/static/Admin_Assets/js/jquery.blockUI.js"></script>
<script src="/static/Admin_Assets/js/waves.js"></script>
<script src="/static/Admin_Assets/js/wow.min.js"></script>
<script src="/static/Admin_Assets/js/jquery.nicescroll.js"></script>
<script src="/static/Admin_Assets/js/jquery.scrollTo.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="/static/Admin_Assets/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="/static/Admin_Assets/plugins/jquery-knob/jquery.knob.js"></script>

<!--Morris Chart-->
<script src="/static/Admin_Assets/plugins/morris/morris.min.js"></script>
<script src="/static/Admin_Assets/plugins/raphael/raphael-min.js"></script>

<!-- Dashboard init -->
<script src="/static/Admin_Assets/pages/jquery.dashboard.js"></script>

<!-- App js -->
<script src="/static/Admin_Assets/js/jquery.core.js"></script>
<script src="/static/Admin_Assets/js/jquery.app.js"></script>
<script src="/static/Admin_Assets/plugins/datatables/jquery.dataTables.min.css"></script>
<script src="/static/Admin_Assets/plugins/datatables/dataTables.bootstrap.js"></script>
