<div class="navbar-custom">
    <div class="container">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li class="active">
                    <a href="{% url 'Admin_Dashboard' %}" class="active"><i class="zmdi zmdi-view-dashboard"></i>
                        <span> داشبورد </span> </a>
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="zmdi zmdi-invert-colors"></i> <span> مقالات </span> </a>
                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                                <li><a href="{% url 'Admin_Articles' %}">مدیریت مقالات</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- End navigation menu  -->
        </div>
    </div>
</div>