{% load thumbnail %}

{% for group in latest_products %}
    <div class="item {% if forloop.first %} active {% endif %}">
        {% for product in group %}
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            {% thumbnail product.image "268x134" crop='center' as im %}
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ im.url }}" alt="{{ product.title }}">
                                </a>
                            {% endthumbnail %}
                            <h2>{{ product.price }}تومان </h2>
                            <p>{{ product.title }}</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به
                                سبـد
                                خرید</a>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}


