{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% load render_partial %}

{% block Title %}
	لیست مقالات
{% endblock %}

{% block Content %}
    <section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">آخریـن اخبـار</h2>
{#                        {{ date }}#}
						{% for article in page_obj %}

                            <div class="single-blog-post">
							<h3>{{ article.title }}</h3>
							<div class="post-meta">
								<ul>
                                    {% if article.author is not none %}
									    <li><i class="fa fa-user"></i> کاربـر:{{ article.author }} </li>
                                    {% endif %}
									<li><i class="fa fa-clock-o"></i>{{ article.created_date | show_jalali_time }}</li>
									<li><i class="fa fa-calendar"></i>{{ article.created_date | show_jalali_date }}</li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
                            {#  quality = 20 #}
							{% thumbnail article.image "862x398"  crop='center' as im %}
                                <a href="">
								    <img src="{{ im.url }}" alt="{{ article.title }}">
							    </a>
                            {% endthumbnail %}
							<p>
                                {{ article.short_description }}
                            </p>
							<a class="btn btn-primary" href="">ادامـه مطلب</a>
						</div>

						{% endfor %}

						<div class="pagination-area">
							<ul class="pagination">
								<li><a href="" class="active">1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
								<li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">

                        {% render_partial 'Article_Module.views.Article_Categories_Partial' %}

						<div class="shipping text-center"><!--shipping-->
							<img src="/static/images/home/shipping.jpg" alt="">
						</div><!--/shipping-->

					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}