<h2>دسته بندی محصولات</h2>
<div class="panel-group category-products" id="accordian">
    <div class="panel panel-default">

        {% for category in categories %}
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="{% url 'product-categories-list' cat=category.url_title %}">{{ category.title }}</a></h4>
                </div>
        {% endfor %}

        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="{% url 'product-list' %}">
                    <span class="badge pull-left"><i class="fa fa-trash-o"></i></span>
                    پاک کردن فیلتر
                </a>
            </h4>
        </div>
    </div>




</div>