{% load thumbnail %}

<div class="col-md-4 pull-right">
    {% if current_user.avatar %}
        {% thumbnail current_user.avatar "170x170" crop='center' as im %}
            <a class="thumbnail" href="">
                <img src="{{ im.url }}" alt="">
            </a>
        {% endthumbnail %}
    {% endif %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'UserPanel_Dashboard' %}">
                اطلاعات کاربری
            </a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'EditProfile_page' %}">
                ویرایش اطلاعات
            </a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'UserPanel_Dashboard' %}">
                تغییر کلمه عبور
            </a>
        </li>
    </ul>
</div>