{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block Title %}
    تغییر رمز عبور کاربر
{% endblock %}

{% block Content %}
    <div class="container">
        <div class="row">

            {% render_partial 'UserPanel_Module.views.UserPanelMenuComponent' %}

            <div class="col-md-8">
{#                {% if form.errors %}#}
{##}
{#                    {% for field in form.fields %}#}
{#                        {% for error in field.error %}#}
{#                            <div class="alert alert-danger">#}
{#                                <strong>{{ error | escape }}</strong>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}
{##}
{#                {% endif %}#}
                <form action="{% url 'ChangePassword_page' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}