{% extends 'shared/_layout.html' %}

{% block Title %}
    سبد خرید
{% endblock %}

{% block Content %}
    <div id="order-detail-content">
        {% if order.orderdetail_set.all %}
            {% include 'UserPanel_Module/includes/user_basket_content.html' %}
        {% else %}

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning">
                            <p>سبد خرید شما خالی میباشد</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}