{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}

{% block Title %}
    جزيیات خرید
{% endblock %}

{% block Content %}
    <div class="container">
        <div class="row">

            {% render_partial 'UserPanel_Module.views.UserPanelMenuComponent' %}

            <div class="col-md-8">
                <table class="table table-responsive table-hover table-striped">
                    <tr>
                        <th class="text-right">شناسه</th>
                        <th class="text-right">محصول</th>
                        <th class="text-right">قیمت تک</th>
                        <th class="text-right">قیمت نهایی خرید</th>
                        <th class="text-right">تعداد اقلام</th>
                        <th class="text-right">تاریخ تایید فاکتور</th>
                        <th class="text-right">نهایی شده</th>
                    </tr>

                    {% for detail in order.orderdetail_set.all %}
                        <tr>
                            <td class="text-right">{{ detail.id }}</td>
                            <td class="text-right"><a
                                    href="{{ detail.product.get_absolute_url }}">{{ detail.product.title }}</a></td>
                            <td class="text-right">{{ detail.final_price_per_item | three_digits_divide_currency }}</td>
                            <td class="text-right">{% multiply_price_checkout detail.count detail.product.price %}</td>
                            <td class="text-right">{{ detail.count }}</td>
                            <td class="text-right">{{ order.payment_date | show_jalali_date }}</td>
                            {% if detail.is_paid %}
                                <td class="text-right"><i class="fa fa-check-circle-o"></i></td>
                            {% else %}
                                <td class="text-right"><i class="fa fa-credit-card"></i></td>
                            {% endif %}
                        </tr>
                    {% endfor %}


                </table>
                <span>
                    <p>قیمت نهایی</p>
                    <td>{{ order.total_price | three_digits_divide_currency }}</td>
                </span>
            </div>
        </div>
    </div>
{% endblock %}