{% extends "layout.html" %}

{% block Title %}
	Product List
{% endblock %}

{% block Content %}
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ product.get_absolute_url }}" style="color: black; text-decoration: none">
                {{ product.title }} / price: {{ product.price }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <p>
        number of products : {{ total_number_of_products }}
    </p>
{#    <p>#}
{#        average rating of products : {{ average_rating.rating__avg }}#}
{#    </p>#}

    <p>
        average minimum of products price : {{ min_price.price__min }}
    </p>

    <p>
        average maximum of products price : {{ max_price.price__max }}
    </p>

{% endblock %}