{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block Title %}

        {% endblock %}
    </title>
    {% include "shared/_headerrefs.html" %}
</head><!--/head-->

<body>
    {% render_partial 'Home_Module.views.site_header_component' %}

	{% block Content %}

	{% endblock %}

    {% render_partial 'Home_Module.views.site_footer_component' %}

    {% include "shared/_footerrefs.html" %}
</body>
</html>